<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>💡 Real-World Software Development - 3장 도전과제: 입출급 내역 분석기 프로그램에 GUI 추가</title>
  <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>

<div class="card">
  <div class="card-header">
    <h2>3장 도전과제: 입출급 내역 분석기 프로그램에 GUI 추가</h2>
  </div>
  <div class="card-body">
    <h4 class="card-title">🎊입출급 내역 분석기 프로그램에 GUI 추가🎊</h4>

    <form th:action="@{/main}" th:method="get">
      <div class="mb-3">
        <label for="csvFileName1" class="form-label">입출금 내역 CSV 파일명</label>
        <input type="csvFileName" class="form-control" id="csvFileName1" aria-describedby="emailHelp"
               th:name="csvFileName" th:value="${csvFileName}">
        <div id="csvFileNameHelp" class="form-text">💡 resources 경로의 파일명을 입력해주세요!</div>
      </div>

      <h5>출력 방식</h5>

      <div th:each="type : ${T(org.rwsd.study.domain.ReportType).values()}" class="form-check">
        <label class="form-check-label" th:for="${'flexRadioDefault' + type.ordinal()}">
          <input class="form-check-input" type="radio" th:name="reportType" th:value="${type}"
               th:id="${'flexRadioDefault' + type.ordinal()}" th:checked="${type == reportType}">        
          <span th:text="${type}"></span>
        </label>
      </div>

      <div class="float-end">
        <button type="submit" class="btn btn-outline-primary">분석</button>
      </div>
    </form>

  </div>
</div>
<hr>
<th:block th:if="${errorMessage != null}">
  <div class="alert alert-danger" role="alert" th:text="${errorMessage}"></div>
</th:block>
<th:block th:if="${result != null}">
  <div class="card">
    <div class="card-body">
      <h5 class="card-text">💡
        <th:block th:text="${reportType}"/>
        타입의 출력 결과
      </h5>
    </div>
    <th:block th:if="${reportType == T(org.rwsd.study.domain.ReportType).HTML}">
      <iframe th:src="${result}"></iframe>
    </th:block>
    <th:block th:if="${reportType ne T(org.rwsd.study.domain.ReportType).HTML}">
      <textarea class="form-control" th:text="${result}"></textarea>
    </th:block>
  </div>
</th:block>
</body>
</html>